{% load upload_tags %}
<div id="fileupload">
    <form method="post" action="" enctype="multipart/form-data">
        <div class="fileupload-buttonbar">
            {% csrf_token %}
            
            <label class='fileinput-button'>
                <span>Add files...</span>
                {% for field in form %}
                    {{ field }}
                {% endfor %}
            </label>

            <button type="submit" class="start">Start upload</button>
            <button type="reset" class="cancel">Cancel upload</button>
            <button type="button" class="delete">Delete files</button>
            {% comment %}
            {% endcomment %}
        </div>
    </form>
    <div class="fileupload-content">
        <table class="files">
            {% block files %}
                {% for filedata in uploadfiles %}
                    {% include "/fileupload/fileupload_filedata.html" %}
                {% endfor %}
            {% endblock %}
        </table>
        <div class="fileupload-progressbar"></div>
    </div>
</div>
